%ul{"data-role" => "listview", "data-base-dir" => base_dir}
  %li{"data_theme" => "c"}
  - files.each do |f|
    %li{"data_theme" => "c"}
      - if f[:type] == 'directory'
        %a{:href => "#", "data-dir" => f[:path]}= f[:name]
      - else
        %a{:href => "#", "data-file" => f[:path]}= f[:name]